bleak==0.12.1
certifi==2021.5.30
charset-normalizer==2.0.4
coverage==5.5
flake8==3.9.2
idna==3.2
mccabe==0.6.1
peewee==3.14.4
pika==1.2.0
psycopg2-binary==2.8.6
pycodestyle==2.7.0
pyflakes==2.3.1
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-libdispatch==7.3
rabbitmq-client==2.0.3
requests==2.26.0
urllib3==1.26.6
